<div class="container-fluid mt-3">
  <!-- Title & Date -->
  <div class="row mb-3">
    <div class="col text-center">
      <h4>COVID-19 Situation Report</h4>
      <h6>
        {{ currentDate | date: 'yyyy-MMM-dd' }} |
        {{ currentDate | date: 'HH:mm' }}
      </h6>
    </div>
  </div>
  <!-- Title & Date -->

  <!-- <div class="row mt-4">
    <div class="col-2 text-center">
      <span class="mdi mdi-hospital-building"></span>
      <p class="text-primary-gray mb-0">Total Cases</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2 text-center">
      <span class="mdi mdi-heart-pulse"></span>
      <p class="text-primary-gray mb-0">Active Cases</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2 text-center">
      <span class="mdi mdi-ambulance"></span>
      <p class="text-primary-gray mb-0">New Cases</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2 text-center">
      <span class="mdi mdi-home-plus"></span>
      <p class="text-primary-gray mb-0">Investigations</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2 text-center">
      <span class="mdi mdi-run"></span>
      <p class="text-primary-gray mb-0">Recovered</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2 text-center">
      <span class="mdi mdi-bed"></span>
      <p class="text-primary-gray mb-0">Deaths</p>
    </div>
  </div> -->

  <!-- ROW-1 -->
  <div class="row mb-2">
    <!-- COL-Total Cases -->
    <div class="col">
      <div class="card">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-2 mr-3">
              <span class="mdi mdi-hospital-building text-warning"></span>
            </div>
            <div class="col">
              <h6 class="card-title text-muted">Total Cases</h6>
              <h4 class="card-subtitle text-warning">444</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //.COL-Total Cases -->

    <!-- //.COL-Active Cases -->
    <div class="col">
      <div class="card">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-2 mr-3">
              <span class="mdi mdi-heart-pulse text-primary-pink"></span>
            </div>
            <div class="col">
              <h6 class="card-title text-muted">Active Cases</h6>
              <h4 class="card-subtitle text-primary-pink">444</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //.COL-Active Cases -->
  </div>
  <!-- //.ROW-1 -->

  <!-- ROW-2 -->
  <div class="row mb-2">
    <!-- COL-New Cases -->
    <div class="col">
      <div class="card">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-2 mr-3">
              <span class="mdi mdi-ambulance text-info"></span>
            </div>
            <div class="col">
              <h6 class="card-title text-muted">New Cases</h6>
              <h4 class="card-subtitle text-info">444</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //.COL-New Cases -->
    <!-- COL-Investigations -->
    <div class="col">
      <div class="card">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-2 mr-3">
              <span class="mdi mdi-home-plus text-primary-orange"></span>
            </div>
            <div class="col">
              <h6 class="card-title text-muted">Investigations</h6>
              <h4 class="card-subtitle text-primary-orange">444</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //.COL-Investigations -->
  </div>
  <!-- //.ROW-2 -->

  <!-- ROW-3 -->
  <div class="row mb-2">
    <!-- COL-Recovered -->
    <div class="col">
      <div class="card">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-2 mr-3">
              <span class="mdi mdi-run text-success"></span>
            </div>
            <div class="col">
              <h6 class="card-title text-muted">Recovered</h6>
              <h4 class="card-subtitle text-success">444</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //.COL-Recovered -->
    <!-- COL-Deaths -->
    <div class="col">
      <div class="card">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-2 mr-3">
              <span class="mdi mdi-bed text-danger"></span>
            </div>
            <div class="col">
              <h6 class="card-title text-muted">Deaths</h6>
              <h4 class="card-subtitle text-danger">444</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //.COL-Deaths -->
  </div>
  <!-- //.ROW-3 -->
</div>
