// background color
$app-prime-background: #faf9ff;

// primary colors
$app-prime-orange: #f98847;
$app-prime-pink: #f64a8f;

//font colors
$app-font-color-prime-gray: #5e5b74;
$app-font-color-prime-purple: #2b2350;

// shadows
$app-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
